Repository Plant-for-the-Planet-org/planet-webapp, pull requests merged in 2024-10, with the labels that each got.

#2211 Render plant location layer
  public/assets/images/icons/projectV2/TreeMapperIcon.tsx
  public/static/locales/en/projectDetails.json
  src/features/projects/components/ProjectsMap.tsx
  src/features/projectsV2/ProjectDetails/components/PlantLocationInfoSection.tsx
  src/features/projectsV2/ProjectDetails/components/ProjectInfoSection.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantLocationHeader.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantingDetails.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SampleTrees.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SpeciesPlanted.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/TreeMapperBrand.tsx
  src/features/projectsV2/ProjectDetails/index.tsx
  src/features/projectsV2/ProjectDetails/styles/PlantLocationInfo.module.scss
  src/features/projectsV2/ProjectDetails/styles/ProjectReviews.module.scss
  src/features/projectsV2/ProjectSnippet/microComponents/ImageSection.tsx
  src/features/projectsV2/ProjectsContext.tsx
  src/features/projectsV2/ProjectsMap/MapControls.tsx
  src/features/projectsV2/ProjectsMap/MultipleProjectsView.tsx
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/ProjectSiteList.tsx
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/index.tsx
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/features/projectsV2/ProjectsMap/index.tsx
  src/features/projectsV2/ProjectsMap/microComponents/PlantLocations.tsx
  src/features/projectsV2/ProjectsMap/microComponents/SatelliteLayer.tsx
  src/features/projectsV2/ProjectsMap/microComponents/SitePolygon.tsx
  src/features/projectsV2/ProjectsMap/stories/ProjectSiteDropdown.stories.tsx
  src/features/projectsV2/ProjectsMapContext.tsx
  src/features/user/TreeMapper/Analytics/components/Map/components/TreeMapperIcon.tsx
  src/utils/mapsV2/zoomToPolygonPlantLocation.tsx
  src/utils/mapsV2/zoomToProjectSite.ts
  src/utils/mapsV2/zoomToSingleTreeLocation.tsx
  src/utils/projectV2.ts
Labels: PR: reviewed-approved, projects redesign

#2247 plant location image slider
  src/features/projectsV2/ProjectDetails/components/PlantLocationInfo.tsx
  src/features/projectsV2/ProjectDetails/components/ProjectInfo.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/ImageSlider.tsx
  src/features/projectsV2/ProjectDetails/index.tsx
Labels: PR: reviewed-approved, projects redesign

#2255 Zoom into sample plant location
  src/features/projectsV2/ProjectDetails/components/PlantLocationInfo.tsx
  src/features/projectsV2/ProjectDetails/components/SinglePlantInfo.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantInfoCard.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SampleTrees.tsx
  src/features/projectsV2/ProjectDetails/index.tsx
  src/features/projectsV2/ProjectDetails/styles/PlantLocationInfo.module.scss
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/features/projectsV2/ProjectsMap/index.tsx
Labels: PR: reviewed-approved, projects redesign

#2237 Sample plant location feature
  package-lock.json
  public/assets/images/icons/projectV2/ProjectLocationIcon.tsx
  public/static/locales/en/projectDetails.json
  src/features/common/types/projectv2.d.ts
  src/features/projectsV2/ProjectDetails/components/ImageCarousel.tsx
  src/features/projectsV2/ProjectDetails/components/MultiPlantLocationInfo.tsx
  src/features/projectsV2/ProjectDetails/components/ProjectInfo.tsx
  src/features/projectsV2/ProjectDetails/components/SinglePlantLocationInfo.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/ImageSlider.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantInfoCard.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantLocationHeader.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantingDetails.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SampleTrees.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SingleCarouselImage.tsx
  src/features/projectsV2/ProjectDetails/index.tsx
  src/features/projectsV2/ProjectDetails/styles/PlantLocationInfo.module.scss
  src/features/projectsV2/ProjectsContext.tsx
  src/features/projectsV2/ProjectsMap/MapControls.tsx
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/ProjectSiteList.tsx
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/features/projectsV2/ProjectsMap/index.tsx
  src/features/projectsV2/ProjectsMap/microComponents/PlantLocations.tsx
  src/features/projectsV2/ProjectsMap/microComponents/ProjectLocation.tsx
  src/features/projectsV2/ProjectsMapContext.tsx
  src/utils/mapsV2/zoomToLocation.tsx
  src/utils/mapsV2/zoomToPolygonPlantLocation.tsx
  src/utils/projectV2.ts
Labels: PR: reviewed-changes-requested, projects redesign

#2259 Adds Plant Location Swiper functionality on Mobile
  package-lock.json
  package.json
  public/static/locales/en/projectDetails.json
  src/features/common/types/plantLocation.d.ts
  src/features/projectsV2/MobileInfoSwiper/MobileInfoSwiper.module.scss
  src/features/projectsV2/MobileInfoSwiper/index.tsx
  src/features/projectsV2/ProjectDetails/components/ImageCarousel.tsx
  src/features/projectsV2/ProjectDetails/components/MultiPlantLocationInfo.tsx
  src/features/projectsV2/ProjectDetails/components/SinglePlantLocationInfo.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/ImageSlider.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantInfoCard.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantLocationHeader.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantingDetails.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SampleTrees.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SinglePlantLocationHeader.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SpeciesPlanted.tsx
  src/features/projectsV2/ProjectDetails/index.tsx
  src/features/projectsV2/ProjectDetails/styles/PlantLocationInfo.module.scss
  src/features/projectsV2/ProjectDetails/styles/Slider.module.scss
  src/features/projectsV2/ProjectsContext.tsx
  src/features/projectsV2/ProjectsMap/MapControls.tsx
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/ProjectSiteList.tsx
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/index.tsx
  src/features/projectsV2/ProjectsMap/ProjectsMap.module.scss
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/features/projectsV2/ProjectsMap/index.tsx
  src/features/projectsV2/ProjectsMap/microComponents/PlantLocations.tsx
  src/features/projectsV2/ProjectsMap/stories/ProjectSiteDropdown.stories.tsx
  src/theme/_colors.scss
  src/theme/theme.ts
  src/theme/themeProperties.ts
Labels: PR: reviewed-changes-requested, projects redesign

#2266 Projects redesign/prevent sudden zoom
  src/features/common/types/projectv2.d.ts
  src/features/projectsV2/ProjectsMap/MultipleProjectsView.tsx
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/features/projectsV2/ProjectsMap/index.tsx
  src/features/projectsV2/ProjectsMapContext.tsx
  src/utils/mapsV2/zoomToLocation.tsx
  src/utils/mapsV2/zoomToPolygonPlantLocation.tsx
  src/utils/mapsV2/zoomToProjectSite.ts
  src/utils/projectV2.ts
Labels: PR: reviewed-approved, projects redesign

#2270 Release: refactor cache key prefix logic
  pages/api/data-explorer/map/distinct-species/[projectId].ts
  pages/api/data-explorer/map/sites/[projectId].ts
  pages/api/data-explorer/species-planted.ts
  pages/api/data-explorer/total-species-planted.ts
  pages/api/data-explorer/total-trees-planted.ts
  pages/api/data-explorer/trees-planted.ts
  src/utils/constants/cacheKeyPrefix.ts
  src/utils/multiTenancy/helpers.ts
Labels: PR: unreviewed, Next in line

#2268 Projects redesign/project review clickable area
  src/features/projectsV2/ProjectDetails/components/KeyInfo.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SingleReview.tsx
  src/features/projectsV2/ProjectDetails/styles/ProjectInfo.module.scss
  src/features/projectsV2/ProjectDetails/styles/ProjectReviews.module.scss
Labels: PR: reviewed-approved, projects redesign

#2267 feat: expand the clickable area for project snippet
  src/features/common/WebappButton/index.tsx
  src/features/projectsV2/ProjectSnippet/index.tsx
  src/features/projectsV2/ProjectSnippet/microComponents/ImageSection.tsx
  src/features/projectsV2/ProjectSnippet/microComponents/ProjectInfoSection.tsx
  src/features/projectsV2/ProjectSnippet/styles/ProjectSnippet.module.scss
  src/features/projectsV2/ProjectsMap/MultipleProjectsView.tsx
  src/features/projectsV2/ProjectsMap/ProjectMarkers/index.tsx
  src/features/projectsV2/ProjectsMap/ProjectPopup/index.tsx
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/features/projectsV2/ProjectsMap/index.tsx
  src/features/projectsV2/ProjectsMapContext.tsx
Labels: PR: reviewed-approved, projects redesign

#2261 feat: handle route for a project which has no site
  src/features/projectsV2/ProjectsContext.tsx
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/features/projectsV2/ProjectsMap/index.tsx
  src/utils/projectV2.ts
Labels: PR: reviewed-approved, projects redesign

#2271 feat: render a separator for the footer on mobile
  src/features/common/Layout/ProjectsLayout/MobileProjectsLayout.tsx
  src/features/projects/components/maps/Credits.tsx
Labels: PR: reviewed-approved, projects redesign

#2260 fix: redirect user to the previous page
  pages/sites/[slug]/[locale]/login.tsx
  pages/sites/[slug]/[locale]/profile/projects/index.tsx
  pages/sites/[slug]/[locale]/t/[profile].tsx
  src/features/projectsV2/ProjectDetails/index.tsx
  src/features/projectsV2/ProjectSnippet/index.tsx
  src/features/projectsV2/ProjectSnippet/microComponents/ImageSection.tsx
  src/features/projectsV2/ProjectsContext.tsx
  src/features/projectsV2/ProjectsMap/MultipleProjectsView.tsx
  src/features/user/Account/History.tsx
  src/features/user/Account/components/AccountRecord.tsx
  src/features/user/ManageProjects/ProjectsContainer.tsx
  src/utils/projectV2.ts
Labels: PR: reviewed-approved, projects redesign

#2274 Projects redesign/facelift feedback
  src/features/projectsV2/ProjectDetails/components/KeyInfo.tsx
  src/features/projectsV2/ProjectsContext.tsx
Labels: PR: reviewed-approved, projects redesign

#2273 Fix data explorer queries for single tree registrations
  pages/api/data-explorer/export.ts
  pages/api/data-explorer/map/distinct-species/[projectId].ts
  pages/api/data-explorer/map/plant-location/[plantLocationId].ts
  pages/api/data-explorer/map/plant-location/index.ts
  pages/api/data-explorer/map/sites/[projectId].ts
  pages/api/data-explorer/species-planted.ts
  pages/api/data-explorer/total-species-planted.ts
  pages/api/data-explorer/total-trees-planted.ts
  pages/api/data-explorer/trees-planted.ts
  public/static/locales/en/treemapperAnalytics.json
  src/features/common/types/dataExplorer.d.ts
  src/features/user/TreeMapper/Analytics/components/Map/components/PlantLocationDetails/index.module.scss
  src/features/user/TreeMapper/Analytics/components/Map/components/PlantLocationDetails/index.tsx
Labels: PR: reviewed-approved

#2276 Release Fix Queries Single Trees in DataExplorer
  pages/api/data-explorer/export.ts
  pages/api/data-explorer/map/distinct-species/[projectId].ts
  pages/api/data-explorer/map/plant-location/[plantLocationId].ts
  pages/api/data-explorer/map/plant-location/index.ts
  pages/api/data-explorer/map/sites/[projectId].ts
  pages/api/data-explorer/species-planted.ts
  pages/api/data-explorer/total-species-planted.ts
  pages/api/data-explorer/total-trees-planted.ts
  pages/api/data-explorer/trees-planted.ts
  public/static/locales/en/treemapperAnalytics.json
  src/features/common/types/dataExplorer.d.ts
  src/features/user/TreeMapper/Analytics/components/Map/components/PlantLocationDetails/index.module.scss
  src/features/user/TreeMapper/Analytics/components/Map/components/PlantLocationDetails/index.tsx
Labels: PR: reviewed-approved

#2278 Projects redesign/key info container
  src/features/projectsV2/ProjectDetails/components/AdditionalInfo.tsx
  src/features/projectsV2/ProjectDetails/components/KeyInfo.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SingleProjectInfoItem.tsx
  src/features/projectsV2/ProjectDetails/styles/ProjectInfo.module.scss
Labels: PR: reviewed-approved, projects redesign

#2277 hotfix: avoid calling plantlocation api while switching between list …
  src/features/projectsV2/ProjectDetails/index.tsx
  src/features/projectsV2/ProjectsContext.tsx
Labels: PR: reviewed-changes-requested, projects redesign

#2275 fix: handle site geometry null case
  src/features/projectsV2/ProjectSnippet/index.tsx
  src/features/projectsV2/ProjectSnippet/microComponents/ImageSection.tsx
  src/features/projectsV2/ProjectsContext.tsx
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/utils/projectV2.ts
Labels: PR: reviewed-approved, projects redesign
