Repository Plant-for-the-Planet-org/planet-webapp, pull requests merged in 2024-11, with the labels that each got.

#2279 Projects redesign/minor UI fixes
  pages/_document.tsx
  public/assets/images/project-contribution-default-landscape.png
  public/assets/images/project-contribution-default-portrait.png
  src/features/common/Layout/CookiePolicy/CookiePolicy.module.scss
  src/features/common/Layout/CookiePolicy/index.tsx
  src/features/common/Layout/Navbar/Navbar.scss
  src/features/common/Layout/ProjectsLayout/ProjectsLayout.module.scss
  src/features/projects/styles/ProjectsMap.module.scss
  src/features/projectsV2/ProjectDetails/components/microComponents/SingleReview.tsx
  src/features/projectsV2/ProjectDetails/styles/ProjectReviews.module.scss
  src/features/projectsV2/ProjectDetails/styles/Slider.module.scss
  src/features/projectsV2/ProjectListControls/styles/ProjectListControls.module.scss
  src/features/projectsV2/ProjectSnippet/microComponents/ImageSection.tsx
  src/features/projectsV2/ProjectSnippet/microComponents/ProjectBadge.tsx
  src/features/projectsV2/ProjectSnippet/microComponents/TopProjectReports.tsx
  src/features/projectsV2/ProjectSnippet/styles/Badge.module.scss
  src/features/projectsV2/ProjectSnippet/styles/ProjectSnippet.module.scss
  src/features/projectsV2/ProjectsMap/ProjectsMap.module.scss
  src/features/projectsV2/ProjectsSection.module.scss
  src/features/user/Profile/MyContributions/MyContributions.module.scss
  src/theme/global.scss
Labels: PR: unreviewed, projects redesign

#2284 Cleaned up the temp folder
  public/assets/images/icons/projectV2/DownloadIcon.tsx
  public/assets/images/icons/projectV2/ExpandIcon.tsx
  public/assets/images/icons/projectV2/PlayButtonIcon.tsx
  public/assets/images/icons/projectV2/SiteIcon.tsx
  src/features/projectsV2/ProjectDetails/components/KeyInfo.tsx
  src/features/projectsV2/ProjectDetails/components/VideoPlayer.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/DownloadButton.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/InfoIconPopup.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/ShowMapButton.tsx
  src/features/projectsV2/ProjectDetails/stories/InfoIconPopup.stories.tsx
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/index.tsx
  src/temp/FirePopup/index.tsx
Labels: PR: reviewed-approved, projects redesign

#2283 Projects redesign/font size
  src/features/common/Layout/ProjectsLayout/ProjectsLayout.module.scss
  src/features/projectsV2/ProjectDetails/components/microComponents/ProjectExpenseReports.tsx
  src/features/projectsV2/ProjectDetails/styles/AboutProject.module.scss
  src/features/projectsV2/ProjectDetails/styles/ProjectInfo.module.scss
  src/features/projectsV2/ProjectsMap/MapFeatureExplorer/MapFeatureExplorer.module.scss
  src/features/projectsV2/ProjectsMap/MapFeatureExplorer/index.tsx
Labels: PR: reviewed-approved, projects redesign

#2287 Project Details Navigation Improvements + Translation Issue Fix
  src/features/projectsV2/ProjectSnippet/index.tsx
  src/features/projectsV2/ProjectSnippet/microComponents/ImageSection.tsx
  src/features/projectsV2/ProjectsContext.tsx
  src/features/user/Account/components/AccountRecord.tsx
  src/features/user/ManageProjects/ProjectsContainer.tsx
  src/utils/projectV2.ts
Labels: projects redesign

#2290 Separate v2 code from old projects code
  pages/_app.tsx
  pages/sites/[slug]/[locale]/[p].tsx
  pages/sites/[slug]/[locale]/index.tsx
  src/features/common/Layout/ProjectsLayout/MobileProjectsLayout.tsx
  src/features/common/Layout/ProjectsLayout/index.tsx
  src/features/projectsV2/ProjectsMap/Credits/Credits.module.scss
  src/features/projectsV2/ProjectsMap/Credits/index.tsx
  src/features/projectsV2/ProjectsMap/ProjectsMap.module.scss
  src/features/projectsV2/ProjectsMap/microComponents/PlantLocations.tsx
Labels: PR: unreviewed, projects redesign

#2291 Projects redesign/pre release fixes
  pages/sites/[slug]/[locale]/[p].tsx
  pages/sites/[slug]/[locale]/index.tsx
  pages/sites/[slug]/[locale]/prd/[p].tsx
  pages/sites/[slug]/[locale]/prd/index.tsx
  public/static/locales/en/common.json
  public/static/locales/en/project.json
  public/static/locales/en/projectDetails.json
  src/features/projectsV2/ProjectDetails/components/AdditionalInfo.tsx
  src/features/projectsV2/ProjectDetails/components/KeyInfo.tsx
  src/features/projectsV2/ProjectDetails/components/ProjectDownloads.tsx
  src/features/projectsV2/ProjectDetails/components/ProjectReviews.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/InterventionSeason.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantInfoCard.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/ShowMapButton.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SinglePlantLocationHeader.tsx
  src/features/projectsV2/ProjectDetails/index.tsx
  src/features/projectsV2/ProjectDetails/styles/ProjectInfo.module.scss
  src/features/projectsV2/ProjectDetails/styles/ToggleDescriptionButton.module.scss
  src/features/projectsV2/ProjectSnippet/microComponents/ImageSection.tsx
  src/features/projectsV2/ProjectsMap/Credits/Credits.module.scss
  src/features/projectsV2/ProjectsMap/MapFeatureExplorer/MapFeatureExplorer.module.scss
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/index.tsx
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/features/projectsV2/ProjectsSection.tsx
  src/temp/FirePopup/index.tsx
  src/utils/getMetaTags/ProjectDetailsMeta.tsx
  src/utils/getMetaTags/ProjectsListMeta.tsx
Labels: PR: unreviewed, projects redesign

#2302 Post Launch feedback for projects facelift
  .gitignore
  package.json
  src/features/common/Layout/ProjectsLayout/ProjectsLayout.module.scss
  src/features/projectsV2/ProjectDetails/ProjectDetails.module.scss
  src/features/projectsV2/ProjectDetails/components/KeyInfo.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantInfoCard.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SpeciesPlanted.tsx
  src/features/projectsV2/ProjectDetails/styles/PlantLocationInfo.module.scss
  src/features/projectsV2/ProjectsMap/MultipleProjectsView.tsx
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/ProjectSiteList.tsx
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/SiteDropdown.module.scss
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/index.tsx
  src/features/projectsV2/ProjectsMap/ProjectsMap.module.scss
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/features/projectsV2/ProjectsMap/index.tsx
  src/features/projectsV2/ProjectsMapContext.tsx
  src/utils/countryCurrency/getFormattedDate.ts
  src/utils/mapsV2/zoomToLocation.tsx
  src/utils/mapsV2/zoomToPolygonPlantLocation.tsx
  src/utils/mapsV2/zoomToProjectSite.ts
  src/utils/projectV2.ts
Labels: PR: reviewed-approved, projects redesign

#2305 Release Fixes after facelift launch
  .gitignore
  package.json
  src/features/common/Layout/ProjectsLayout/ProjectsLayout.module.scss
  src/features/projectsV2/ProjectDetails/ProjectDetails.module.scss
  src/features/projectsV2/ProjectDetails/components/KeyInfo.tsx
  src/features/projectsV2/ProjectDetails/components/MultiPlantLocationInfo.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/PlantInfoCard.tsx
  src/features/projectsV2/ProjectDetails/components/microComponents/SpeciesPlanted.tsx
  src/features/projectsV2/ProjectDetails/styles/PlantLocationInfo.module.scss
  src/features/projectsV2/ProjectsMap/MultipleProjectsView.tsx
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/ProjectSiteList.tsx
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/SiteDropdown.module.scss
  src/features/projectsV2/ProjectsMap/ProjectSiteDropDown/index.tsx
  src/features/projectsV2/ProjectsMap/ProjectsMap.module.scss
  src/features/projectsV2/ProjectsMap/SingleProjectView.tsx
  src/features/projectsV2/ProjectsMap/index.tsx
  src/features/projectsV2/ProjectsMapContext.tsx
  src/utils/countryCurrency/getFormattedDate.ts
  src/utils/mapsV2/zoomToLocation.tsx
  src/utils/mapsV2/zoomToPolygonPlantLocation.tsx
  src/utils/mapsV2/zoomToProjectSite.ts
  src/utils/projectV2.ts
Labels: PR: reviewed-approved
