Repository Plant-for-the-Planet-org/planet-webapp, pull requests merged in 2024-06, with the labels that each got.

#2060 Feature/my forest v2 map zoom marker
  package-lock.json
  package.json
  pages/sites/[slug]/[locale]/mfv2-public/[profile].tsx
  pages/sites/[slug]/[locale]/profile/mfv2.tsx
  public/assets/images/icons/myForestV2Icons/Agroforestry.tsx
  public/assets/images/icons/myForestV2Icons/Conservation.tsx
  public/assets/images/icons/myForestV2Icons/ManagedRegeneration.tsx
  public/assets/images/icons/myForestV2Icons/Mangroves.tsx
  public/assets/images/icons/myForestV2Icons/NaturalRegeneration.tsx
  public/assets/images/icons/myForestV2Icons/OtherPlanting.tsx
  public/assets/images/icons/myForestV2Icons/RegisteredTreeIcon.tsx
  public/assets/images/icons/myForestV2Icons/TreePlanting.tsx
  public/assets/images/icons/myForestV2Icons/UrbanRestoration.tsx
  src/features/common/Layout/MyForestContextV2.tsx
  src/features/common/types/myForestv2.d.ts
  src/features/common/types/trpc.d.ts
  src/features/user/MFV2/ContributionsMap/Common/MapCredits.tsx
  src/features/user/MFV2/ContributionsMap/Common/common.module.scss
  src/features/user/MFV2/ContributionsMap/Markers/SinglePointMarkers.tsx
  src/features/user/MFV2/ContributionsMap/index.tsx
  src/features/user/MFV2/ProfileLayout/index.tsx
  src/features/user/MFV2/PublicProfileLayout/index.tsx
  src/server/procedures/myForestV2/leaderboard.ts
  src/server/procedures/myForestV2/projectList.ts
  src/theme/themeProperties.ts
  src/utils/trpcHelpers.ts
Labels: PR: reviewed-approved, MyForest 2.0

#2075 MY FOREST - Community contributions
  public/assets/images/icons/CommunityContributionsIcon.tsx
  public/assets/images/icons/MyContributionsIcon.tsx
  public/assets/images/icons/ProfilePageV2Icons.tsx
  public/static/locales/en/profile.json
  src/features/common/Layout/MyForestContextV2.tsx
  src/features/common/types/myForestv2.d.ts
  src/features/user/MFV2/CommunityContributions/ContributionListItem.tsx
  src/features/user/MFV2/CommunityContributions/CustomTooltip.tsx
  src/features/user/MFV2/CommunityContributions/NoContributions.tsx
  src/features/user/MFV2/CommunityContributions/communityContributions.module.scss
  src/features/user/MFV2/CommunityContributions/index.tsx
  src/features/user/MFV2/MyContributions/MyContributions.module.scss
  src/features/user/MFV2/ProfileLayout/ProfileLayout.module.scss
  src/features/user/MFV2/ProfileLayout/index.tsx
  src/features/user/MFV2/PublicProfileLayout/PublicProfileLayout.module.scss
  src/features/user/MFV2/PublicProfileLayout/index.tsx
  src/server/procedures/myForestV2/leaderboard.ts
Labels: PR: unreviewed, MyForest 2.0

#2085 Fix: Polygon Zoom Issues
  src/features/projects/components/PlantLocation/ImageSlider.tsx
  src/features/projects/components/ProjectSnippet.tsx
  src/features/projects/components/ProjectsMap.tsx
  src/features/projects/components/maps/Project.tsx
  src/features/projects/components/maps/Sites.tsx
  src/features/projects/components/projectDetails/ImageSlider.tsx
Labels: PR: reviewed-approved

#2067 Feature/map contribution info
  public/assets/images/icons/MyForestMapIcons.tsx
  public/assets/images/icons/myForestV2Icons/Agroforestry.tsx
  public/assets/images/icons/myForestV2Icons/Conservation.tsx
  public/assets/images/icons/myForestV2Icons/ManagedRegeneration.tsx
  public/assets/images/icons/myForestV2Icons/Mangroves.tsx
  public/assets/images/icons/myForestV2Icons/NaturalRegeneration.tsx
  public/assets/images/icons/myForestV2Icons/OtherPlanting.tsx
  public/assets/images/icons/myForestV2Icons/RegisteredTreeIcon.tsx
  public/assets/images/icons/myForestV2Icons/TreePlanting.tsx
  public/assets/images/icons/myForestV2Icons/UrbanRestoration.tsx
  public/static/locales/en/profile.json
  src/features/user/MFV2/ContributionsMap/Common/ContributionStats.tsx
  src/features/user/MFV2/ContributionsMap/Common/MapCredits.tsx
  src/features/user/MFV2/ContributionsMap/Common/common.module.scss
  src/features/user/MFV2/ContributionsMap/Markers/SinglePointMarkers.tsx
  src/features/user/MFV2/ContributionsMap/index.tsx
  src/features/user/MFV2/ProfileLayout/ProfileLayout.module.scss
  src/features/user/MFV2/ProfileLayout/index.tsx
  src/features/user/MFV2/PublicProfileLayout/index.tsx
Labels: PR: reviewed-approved, MyForest 2.0

#2092 removed twitter link from footer
  public/static/locales/cs/donate.json
  public/static/locales/de/donate.json
  public/static/locales/en/donate.json
  public/static/locales/es/donate.json
  public/static/locales/fr/donate.json
  public/static/locales/it/donate.json
  public/static/locales/pt-BR/donate.json
  public/tenants/planet/config.ts
  public/tenants/planet/configBeta.ts
  public/tenants/salesforce/config.ts
  public/tenants/ttc/config.ts
  src/features/common/Layout/Footer/index.tsx
  src/features/user/Profile/components/ProfileBox/microComponents/SharePlatforms.tsx
  src/tenants/salesforce/Home/components/Social.tsx
  tenant.config.ts
Labels: PR: reviewed-approved

#2078 Feature/progress bar
  public/assets/images/icons/ProgressBarIcons.tsx
  public/static/locales/en/profile.json
  src/features/common/ContentLoaders/ProfileV2/index.tsx
  src/features/common/Layout/MyForestContextV2.tsx
  src/features/common/types/myForestv2.d.ts
  src/features/user/MFV2/CommunityContributions/index.tsx
  src/features/user/MFV2/ForestProgress/EmptyProgress.tsx
  src/features/user/MFV2/ForestProgress/ForestProgress.module.scss
  src/features/user/MFV2/ForestProgress/ForestProgressItem.tsx
  src/features/user/MFV2/ForestProgress/TargetFormInput.tsx
  src/features/user/MFV2/ForestProgress/TargetSwitch.tsx
  src/features/user/MFV2/ForestProgress/TargetTextField.tsx
  src/features/user/MFV2/ForestProgress/TargetsModal.tsx
  src/features/user/MFV2/ForestProgress/index.tsx
  src/features/user/MFV2/ForestProgress/microComponents/EditButton.tsx
  src/features/user/MFV2/ForestProgress/microComponents/ProgressData.tsx
  src/features/user/MFV2/ForestProgress/microComponents/StackedBarGraph.tsx
  src/features/user/MFV2/ForestProgress/microComponents/TargetFormInputLabel.tsx
  src/features/user/MFV2/MyContributions/ProjectItemCard.tsx
  src/features/user/MFV2/MyContributions/index.tsx
  src/features/user/MFV2/ProfileLayout/ProfileLayout.module.scss
  src/features/user/MFV2/ProfileLayout/index.tsx
  src/features/user/MFV2/PublicProfileLayout/PublicProfileLayout.module.scss
  src/features/user/MFV2/PublicProfileLayout/index.tsx
  src/theme/_colors.scss
  src/theme/theme.ts
  src/theme/themeProperties.ts
  src/utils/myForestV2Utils.ts
Labels: PR: reviewed-changes-requested, MyForest 2.0

#2068 logic for cluster marker
  public/assets/images/icons/myForestMapIcons/ClusterMarkerIcons.tsx
  public/assets/images/icons/myForestMapIcons/PointMarkerIcons.tsx
  public/assets/images/icons/myForestMapIcons/index.tsx
  src/features/common/Layout/MyForestContextV2.tsx
  src/features/common/types/map.d.ts
  src/features/common/types/myForestv2.d.ts
  src/features/user/MFV2/ContributionsMap/Common/ContributionStats.tsx
  src/features/user/MFV2/ContributionsMap/Common/common.module.scss
  src/features/user/MFV2/ContributionsMap/Markers/ClusterIcon.tsx
  src/features/user/MFV2/ContributionsMap/Markers/DonationClusterMarker.tsx
  src/features/user/MFV2/ContributionsMap/Markers/PointMarkers.tsx
  src/features/user/MFV2/ContributionsMap/Markers/ProjectTypeIcon.tsx
  src/features/user/MFV2/ContributionsMap/Markers/RegisteredTreeClusterMarker.tsx
  src/features/user/MFV2/ContributionsMap/Markers/SinglePointMarkers.tsx
  src/features/user/MFV2/ContributionsMap/Markers/index.tsx
  src/features/user/MFV2/ContributionsMap/index.tsx
  src/utils/myForestV2Utils.ts
  src/utils/superclusterConfig.ts
Labels: PR: unreviewed, MyForest 2.0

#2107 Updates warnings while issuing Bulk Codes
  public/static/locales/de/bulkCodes.json
  public/static/locales/en/bulkCodes.json
  src/features/user/BulkCodes/BulkCodes.module.scss
  src/features/user/BulkCodes/forms/IssueCodesForm.tsx
Labels: PR: unreviewed

#2066 Feature/myforest map popup
  public/assets/images/icons/myForestMapIcons/RegisteredTreePopupIcon.tsx
  public/static/locales/en/profile.json
  src/features/projects/components/ProjectTypeIcon.tsx
  src/features/user/MFV2/ContributionsMap/ContributionsMap.module.scss
  src/features/user/MFV2/ContributionsMap/Markers/PointMarkers.tsx
  src/features/user/MFV2/ContributionsMap/Markers/index.tsx
  src/features/user/MFV2/ContributionsMap/Popup/DonationPopup.tsx
  src/features/user/MFV2/ContributionsMap/Popup/PopupImageSection.tsx
  src/features/user/MFV2/ContributionsMap/Popup/ProjectInfoSection.tsx
  src/features/user/MFV2/ContributionsMap/Popup/RegisteredTreesPopup.tsx
  src/features/user/MFV2/ContributionsMap/index.tsx
  src/features/user/MFV2/MyContributions/DonateButton.tsx
  src/features/user/MFV2/ProfileLayout/index.tsx
  src/features/user/MFV2/PublicProfileLayout/index.tsx
  src/utils/superclusterConfig.ts
Labels: PR: reviewed-approved, MyForest 2.0

#2112 Fix marker size
  public/assets/images/icons/myForestMapIcons/PointMarkerIcons.tsx
Labels: PR: reviewed-approved, MyForest 2.0

#2110 Fix cluster outline color issue
  src/utils/myForestV2Utils.ts
Labels: PR: reviewed-approved, MyForest 2.0

#2105 Handle no leaderboard layout on public profile
  src/features/user/MFV2/MyContributions/MyContributions.module.scss
  src/features/user/MFV2/PublicProfileLayout/PublicProfileLayout.module.scss
  src/features/user/MFV2/PublicProfileLayout/index.tsx
Labels: PR: reviewed-approved, MyForest 2.0
