Repository Plant-for-the-Planet-org/planet-webapp, pull requests merged in 2024-12, with the labels that each got.

#2307 Add/Edit address form
  public/static/locales/en/editProfile.json
  public/static/locales/en/profile.json
  src/features/common/InputTypes/AutoCompleteCountry.tsx
  src/features/user/Profile/ForestProgress/ForestProgress.module.scss
  src/features/user/Settings/EditProfile/AddressManagment/AddAddress.tsx
  src/features/user/Settings/EditProfile/AddressManagment/AddressManagement.module.scss
  src/features/user/Settings/EditProfile/AddressManagment/EditAddress.tsx
  src/features/user/Settings/EditProfile/AddressManagment/index.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressActionMenu.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressDetails.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressForm.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressFormButtons.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressFormLayout.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressInput.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressList.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/SingleAddress.tsx
  src/utils/addressManagement.ts
Labels: PR: reviewed-approved, addressmanagement

#2317 Donor circle member badge
  package-lock.json
  package.json
  public/assets/images/icons/ProgressBarIcons.tsx
  public/static/locales/en/profile.json
  src/features/user/Profile/ProfileCard/MicroComponents/DonorCircleMemberBadge.tsx
  src/features/user/Profile/ProfileCard/ProfileCard.module.scss
  src/features/user/Profile/ProfileCard/index.tsx
Labels: PR: reviewed-approved

#2321 Release: "Everything Giftable"
  package-lock.json
  package.json
  pages/sites/[slug]/[locale]/claim/[type]/[code].tsx
  pages/sites/[slug]/[locale]/profile/bulk-codes/[method]/[id].tsx
  pages/sites/[slug]/[locale]/profile/history.tsx
  pages/sites/[slug]/[locale]/profile/redeem/[code].tsx
  public/static/locales/cs/profile.json
  public/static/locales/de/bulkCodes.json
  public/static/locales/de/profile.json
  public/static/locales/de/redeem.json
  public/static/locales/en/bulkCodes.json
  public/static/locales/en/redeem.json
  public/static/locales/es/profile.json
  public/static/locales/fr/profile.json
  public/static/locales/it/profile.json
  public/static/locales/pt-BR/profile.json
  src/features/common/Layout/BulkCodeContext.tsx
  src/features/common/RedeemCode/EnterRedeemCode.tsx
  src/features/common/RedeemCode/RedeemFailed.tsx
  src/features/common/RedeemCode/SuccessfullyRedeemed.tsx
  src/features/common/RedeemCode/style/RedeemModal.module.scss
  src/features/common/types/project.d.ts
  src/features/common/types/redeem.d.ts
  src/features/user/Account/History.tsx
  src/features/user/Account/components/AccountRecord.tsx
  src/features/user/Account/components/Downloads.tsx
  src/features/user/BulkCodes/BulkCodesTypes.d.ts
  src/features/user/BulkCodes/components/AddRecipient.tsx
  src/features/user/BulkCodes/components/BulkGiftTotal.tsx
  src/features/user/BulkCodes/components/ProjectSelectAutocomplete.tsx
  src/features/user/BulkCodes/components/ProjectSelector.tsx
  src/features/user/BulkCodes/components/RecipientFormFields.tsx
  src/features/user/BulkCodes/components/RecipientsTable.tsx
  src/features/user/BulkCodes/components/RecipientsUploadForm.tsx
  src/features/user/BulkCodes/components/UnitCostDisplay.tsx
  src/features/user/BulkCodes/forms/CreationMethodForm.tsx
  src/features/user/BulkCodes/forms/IssueCodesForm.tsx
  src/features/user/BulkCodes/forms/SelectProjectForm.tsx
  src/features/user/BulkCodes/index.tsx
  src/features/user/BulkCodes/stories/ProjectSelectAutocomplete.stories.tsx
  src/features/user/Profile/ProfileCard/RedeemModal/index.tsx
  src/utils/cleanObject.ts
Labels: PR: reviewed-approved

#2308 Address actions
  public/static/locales/en/profile.json
  src/features/common/types/profile.d.ts
  src/features/user/Settings/EditProfile/AddressManagment/AddAddress.tsx
  src/features/user/Settings/EditProfile/AddressManagment/AddressManagement.module.scss
  src/features/user/Settings/EditProfile/AddressManagment/DeleteAddress.tsx
  src/features/user/Settings/EditProfile/AddressManagment/EditAddress.tsx
  src/features/user/Settings/EditProfile/AddressManagment/UpdateAddressType.tsx
  src/features/user/Settings/EditProfile/AddressManagment/index.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressDetails.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressForm.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressFormButtons.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressFormLayout.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressList.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/FormattedAddressBlock.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/SingleAddress.tsx
  src/utils/addressManagement.ts
Labels: PR: reviewed-approved, addressmanagement

#2316 feat: add address limit check and show message when limit is reached
  public/static/locales/en/profile.json
  src/features/user/Settings/EditProfile/AddressManagment/AddressManagement.module.scss
  src/features/user/Settings/EditProfile/AddressManagment/index.tsx
  src/utils/addressManagement.ts
Labels: PR: reviewed-approved, addressmanagement

#2312 Edit profile form (code clean up)
  src/features/user/Settings/EditProfile/AddressManagment/AddressManagement.module.scss
  src/features/user/Settings/EditProfile/EditProfileForm.tsx
Labels: PR: unreviewed, addressmanagement

#2325 feat: avoid rendering project tabs for Salesforce tenant
  src/features/projectsV2/ProjectListControls/ProjectListControlForMobile.tsx
  src/features/projectsV2/ProjectListControls/index.tsx
  src/features/projectsV2/ProjectListControls/styles/ProjectListControls.module.scss
  src/features/projectsV2/ProjectsSection.tsx
Labels: PR: reviewed-approved

#2330 Address mgmt/remove billing address option
  public/static/locales/en/editProfile.json
  src/features/user/Settings/EditProfile/AddressManagment/UnsetBillingAddress.tsx
  src/features/user/Settings/EditProfile/AddressManagment/index.tsx
  src/features/user/Settings/EditProfile/AddressManagment/microComponents/AddressActionMenu.tsx
  src/utils/addressManagement.ts
Labels: PR: reviewed-approved
